<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>demostración</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'AppFinal/startbootstrap-blog-home-gh-pages/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href='{% url "Inicio" %}'>Inicio</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" href='{% url "About" %}'>About</a></li>

                {% if request.user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href='{% url "blogLista" %}'>Inmuebles</a></li>
                <li class="nav-item"><a class="nav-link" href='{% url "crearBlog" %}'>Crear anuncio</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'profile' %}">Perfil</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Cerrar sesión</a></li>
                
                

                {% else %}

                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Register' %}">Registrarse</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'Login' %}">Iniciar sesión</a></li>

                {% endif %}

            </ul>
        </div>
    </div>
</nav>

<form method="post">
    {% csrf_token %}
    <h2 class="card-title">Hagamos una escalera</h2>
            <p class="card-text">Si el número es positivo, la escalera es hacia arriba, pero si es negativo entonces será hacia abajo.</p>
    <label for="escalones">Escoge un número de escalones:</label>
    <input type="number" id="escalones" name="escalones" required>
    <button type="submit">Dibujar</button>
</form>
{% if output %}
<pre>
{{ output }}
</pre>
{% endif %}

 